#submit-a-feature{
    border: none;
    padding: 1em 2.8em;
    background-color: rgb(41, 141, 187);
    color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1em;
}

@media only screen and (min-width:600px){
    #submit-a-feature{
        padding: .8em 1.8em;
    }
}