.form-header{
    font-size: 2em;
    color: white;
}

.form-subheading{
    color: white;
    margin-top: -5%;
}
button{
    cursor: pointer;
}
#hero-message-home{
    text-align: center;
    color: white;
}
#hero-message-home h1{
    padding-top: 30%;
    font-size: 1.3em;
    width:70%;
    color:white;
    padding-bottom: 0;
    margin: auto;
}

#hero-message-home p{
    margin-top:2%;
    font-size: 1em;
    
}


#order-left{
    float:left;
    width: 40%;
    padding: 14% 0 0 5%;
}


#submit-a-feature{
    border: none;
    padding: .7em 1.5em;
    background-color: rgb(195,0,142);
    color: white;
}

#order-right{
    float:right;
    width:40%;
    padding: 16% 5% 0 0;
    text-align: center;
    display: block;
}


#order-right input{
    margin-bottom: 3%;
    height:2em;
    border-radius: 5%;
    border:none;
    min-width: 75%;
    width:75%;
    padding: 1% 2%;
}



.submit-button{
    border: none;
    background-color: rgb(0,198,94);
    padding: 2% 5%;
    color: white;
    margin-top: 4%;
    transition: .4s;
}

.form{
    text-align: center;
    padding-top: 15%;
    width:80%;
    margin:auto;
}

.form-button:disabled{
    background-color: grey;
    color: white;
    border: none;
    padding: 8px 20px;
    margin-left: 1%;
    transition: .5s;
}

.form-button:enabled{
    background-color: rgb(0,200,94);
    color: white;
    border: none;
    padding: 8px 20px;
    margin-left: 1%;
    transition: .5s;
}
.form input{
    margin-top: 2%;
    width:60%;
    padding: 1% 1%; 
    border-radius: 5%;
    border: none;
}

p.form-error{
    margin-top: 2%;
    color: rgb(205,51,59);
    font-size: .8em;
}

#order-form{
    margin-top: 10%;
}

.home-buttons{
    text-align: center;
}

.home-buttons a{
    background-color: rgb(0,198,94);
    border: none;
    padding: .6em .9em;
    color: white;
    text-decoration: none;
    margin-right: 1%;
}

@media only screen and (min-width:768px){
    .form{
        text-align: center;
        padding-top: 12%;
        width:50%;
        margin:auto;
    }

    .form input{
        margin-top: 2%;
        width:50%;
        padding: 1% 1%; 
        border-radius: 5%;
        border: none;
    }

    .form-header{
        font-size: 4em;
        color: white;
    }
    
    .form-subheading{
        color: white;
        padding-top: 1%;
    }

    #order-form{
        margin-top: 0%;
    }

    #hero-message-home h1{
        padding-top: 30%;
        font-size: 1.8em;
        width:70%;
        color:white;
        padding-bottom: 0;
        margin: auto;
    }
    
    #hero-message-home p{
        margin-top:2%;
        font-size: 1.3em;
        
    }
}

@media only screen and (min-width:600px){
    .form{
        text-align: center;
        padding-top: 12%;
        width:70%;
        margin:auto;
    }

    .form input{
        margin-top: 2%;
        width:50%;
        padding: 1% 1%; 
        border-radius: 5%;
        border: none;
    }

    .form-header{
        font-size: 3em;
        color: white;
    }
    
    .form-subheading{
        color: white;
        margin-top: -5%;
    }
    #order-form{
        margin-top: 3%;
    }
    #hero-message-home h1{
        padding-top: 20%;
        font-size: 2.4em;
        width:70%;
        color:white;
        
        margin: auto;
    }
    
    #hero-message-home p{
        margin-top:1%;
        font-size: 1.3em;
        
    }
}