.form-header{
    font-size: 2em;
    color: white;
}

.form-subheading{
    color: white;
    margin-top: -5%;
    text-align: center;
}
button{
    cursor: pointer;
}


.submit-button{
    border: none;
    background-color: rgb(0,198,94);
    padding: .5em .8em;
    color: white;
    margin-top: 4%;
    transition: .4s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.form{
    text-align: center;
    padding-top: 15%;
    width:100%;
    margin:auto;
}

.form-button{
    color: white;
    border: none;
    padding: 1em 0em;
    border-radius: 5px;
    margin-left: 1%;
    font-size: 1em;
    transition: .5s;
    width: 40%;
    text-align: center;
}
.form-button:disabled{
    background-color: grey;
}

.form-button:enabled{
    background-color: rgb(0,200,94);
}

.submit-suggestion{
    color: white;
    border: none;
    padding: .6em 1.2em;
    margin-left: 1%;
    transition: .5s; 
    text-align: center;
}
.submit-suggestion:disabled{
    background-color: grey;
}

.submit-suggestion:enabled{
    background-color: rgb(0,200,94);
}
.form input{
    margin-top: 2%;
    width:90%;
    padding: 2% 2%;
    font-size: 1em; 
    border-radius: 5px;
    border: none;
}

p.form-error{
    margin-top: 2%;
    color: rgb(205,51,59);
    font-size: .8em;
}





@media only screen and (min-width:768px){
    .form{
        text-align: center;
        padding-top: 12%;
        width:50%;
        margin:auto;
    }

    .form input{
        margin-top: 2%;
        width:60%;
        padding: 1% 1%; 
        border: none;
        height: 10%;
    }

    .form-header{
        font-size: 4em;
        color: white;
    }
    
    .form-subheading{
        color: white;
        padding-top: 1%;
    }

  

    #hero-message-home h1{
        padding-top: 30%;
        font-size: 1.8em;
        width:70%;
        color:white;
        padding-bottom: 0;
        margin: auto;
    }
    
    #hero-message-home p{
        margin-top:2%;
        font-size: 1.3em;
        
    }

    .form{
        text-align: center;
        padding-top: 12%;
        width:70%;
        margin:auto;
    }


    .form-header{
        font-size: 3em;
        color: white;
    }
    
    .form-subheading{
        color: white;
        margin-top: -5%;
    }
}

@media only screen and (min-width:600px){
    

    #hero-message-home h1{
        padding-top: 20%;
        font-size: 2.4em;
        width:70%;
        color:white;
        
        margin: auto;
    }
    
    #hero-message-home p{
        margin-top:1%;
        font-size: 1.3em;
        
    }

    
}   