#order-form{
    margin-top: 10%;
}

#order-left{
    width: 100%;
    padding: 14% 0 0 0%;
    text-align: center;
}

#order-right{
    width:100%;
    text-align: center;
}


#order-right input{
    margin-bottom: 3%;
    height:2em;
    border-radius: 5px;
    border:none;
    width:90%;
    padding: 4% 2%;
    font-size: 1em;
}

#suggestion-order{
    display: none;
}

#suggestion-order-form{
    margin-top: 3%;
}
@media only screen and (min-width:768px){

    #order-form{
        margin-top: 0%;
    }
    #order-right{
        padding: 14% 5% 0 0;
        float: right;
        width: 40%;
    }

    #order-left{
        padding: 14% 0% 0 5%;
        float: left;
        width: 35%;
        text-align: left;
    }
    #suggestion-order{
        display: block;

    }
       

    #suggestion-order-form{
        display: none;
    }
    
}

@media only screen and (min-width:600px){

    #order-form{
        margin-top: 3%;
    }

    
}   